{% extends 'layouts/page.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="row2">
        <div id="container" class="clear center">
            <h1>About page</h1>
        </div>
    </div>
{% endblock %}